[Desktop Entry]
Type=Application
Name=Open Desktop
GenericName=Open Desktop Local
Exec=docker-open-notebook
Terminal=false
Icon=docker-open-notebook
Categories=Development;ArtificialIntelligence;
StartupNotify=true
